@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Gray scale */
  --color-gray-100: #ffffff;
  --color-gray-200: #f4f6f8;
  --color-gray-300: #dfe3e8;
  --color-gray-400: #c4cdd5;
  --color-gray-500: #828fa3;

  /* --color-gray-600: #637381; */
  --color-gray-600: #696d67;

  --color-gray-700: #454f5b;
  --color-gray-800: #212b36;
  --color-gray-900: #161c24;

  /* Border */
  --color-gray-border: #3e3f4e10; /* bordas */

  /* Primary */
  --color-purple-100: #a8a4ff;
  --color-purple-200: #635fc7;

  /* Error */
  --color-red-200: #ff9898;
  --color-red-500: #ea5555;

  /* Text */
  --color-gray-text: #2b2c37;

  --color-gray-neutral: #f4f7fd;

  --sidebar: hsl(0 0% 98%);

  --sidebar-foreground: hsl(240 5.3% 26.1%);

  --sidebar-primary: hsl(240 5.9% 10%);

  --sidebar-primary-foreground: hsl(0 0% 98%);

  --sidebar-accent: hsl(240 4.8% 95.9%);

  --sidebar-accent-foreground: hsl(240 5.9% 10%);

  --sidebar-border: hsl(220 13% 91%);

  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {
  --color-gray-100: #2b2c36; /* default bg */

  --color-gray-text: #ffffff; /* text */
  --color-gray-neutral: #20212c; /* extra bg tone */
  --color-gray-border: #3e3f4e; /* bordas */
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme inline {
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}
