@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Gray scale */
  --color-gray-100: #ffffff;
  --color-gray-200: #f4f6f8;
  --color-gray-300: #dfe3e8;
  --color-gray-400: #c4cdd5;
  --color-gray-500: #828fa3;

  /* --color-gray-600: #637381; */
  --color-gray-600: #696d67;

  --color-gray-700: #454f5b;
  --color-gray-800: #212b36;
  --color-gray-900: #161c24;

  /* Border */
  --color-gray-border: #3e3f4e10; /* bordas */

  /* Primary */
  --color-purple-100: #a8a4ff;
  --color-purple-200: #635fc7;

  /* Error */
  --color-red-200: #ff9898;
  --color-red-500: #ea5555;

  /* Text */
  --color-gray-text: #2b2c37;

  --color-gray-neutral: #f4f7fd;
}

.dark {
  --color-gray-100: #2b2c36; /* default bg */

  --color-gray-text: #ffffff; /* text */
  --color-gray-neutral: #20212c; /* extra bg tone */
  --color-gray-border: #3e3f4e; /* bordas */
}
